<!doctype html>
<html lang="en">
<head>
<style>
body {
  background-color: #8a93b8;
}
div {
  margin-left: 100 px;
  margin-right: 300 px;
  background-color: #c5c4aa;
}
</style>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Add Suoritus</title>
<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
</head>
<body class="container" style="margin-top: 50px;">

	<% if (messages.error) { %>
	<div class="alert alert-danger" role="alert"><%- messages.error %></div>
	<% } %>

    <div class="card"> 
	<div class="card-header">
			Add Suoritus
		</div>
        <div class="card-body">
            <form action="/suoritus/add" method="post">
                <div class="form-group">
                    <label>Etunimi:</label>
                    <input type="text" class="form-control" name="Etunimi" value="<%= Etunimi %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Sukunimi:</label>
                    <input type="text" class="form-control" name="Sukunimi" value="<%= Sukunimi %>" autocomplete="off">
                </div>
		<div class="form-group">
		    <label>Nimi:</label>
		    <input type="text" class="form-control" name="Nimi" value="<%= Nimi %>" autocomplete="off">
		</div>
		<div class="form-group">
		    <label>Arvosana:</label>
		    <input type="number" class="form-control" name="Arvosana" value="<%= Arvosana %>" autocomplete="off">
		</div>
		<div class="form-group">
		    <label>Koodi:</label>
		    <input type="text" class="form-control" name="Koodi" value="<%= Koodi %>" autocomplete="off">
		</div>
		
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Add"/>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
